<h1> Trips </h1>
<%= link_to "Create a new trip", new_trip_path, class: "ui green button inverted" %> 
<hr />
<ul> 
<% @trips.each do |trip| %>
  <li> <h2> <%= link_to trip.name, trip %> <h2> </li>
  <% end %>
</ul>
