
<div class="ui sub header">Author: <%= @review.author %>
	<%= @review.raiting %>
</div>
<div class="button ui red">
<%= link_to "Delete Review", [@review] method: :delete  %>
<br />
<%= link_to "Back to trips", trips_path %>
