<h1 class="ui huge header">Reviews</h1>
<div class="ui divider"></div>
<div class ="ui grid">
	<% @reviews.each do |review|%>
		<div class="four wide column">
			<div class="ui item">
				<div class="ui medium header"> <%= link_to review.trip.name, [review]%> </div>
				<a class="ui teal label">
					<%=review.author%>
					<div class="detail"><%="#{review.rating}/100"%></div>
				</a>
			</div>
		</div>
	<%end%>
</div>
