<h1>Author: <%= @review.author %></h1>
<br />
<h2><strong><%= @review.raiting %></strong></h2>
<hr />
<%= link_to "Delete Review", [@review] method: :delete  %>
<br />
<%= link_to "back to trips", trips_path %>
