<<<<<<< HEAD
=======
<h1><%= @trip.name %>: Locations</h1>
<%= link_to 'Add Location', new_trip_location_path(@trip) %>
<%= link_to "Address", location_addresses_path(@locations) %>
<hr />
>>>>>>> 8d147e7f55c5635eaf353d334d8ae7543daf4f6f
