<<<<<<< HEAD
=======
<h1><%= @trip.name %>: Locations</h1>

<% @trip.locations.each do |location| %>
 <%= location.name %>

 <%= link_to 'Address', location_addresses_path(location) %>
 
 <% end %> 

<%= link_to 'Add Location', new_trip_location_path(@trip) %>


<hr />
>>>>>>> 8d147e7f55c5635eaf353d334d8ae7543daf4f6f
