<h1><%= @trip.name %></h1>
<hr />
<br />
<%= link_to 'Locations', trip_locations_path(@trip), class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to "Delete Trip", @trip, method: :delete, class: "ui red button inverted" %>
