<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item">
      <%= link_to 'Trips', trips_path %>
    </a>
    <a class="item">
      <%= link_to 'Random Trips', random_path %>
    </a>
		<a class="item">
			<%= link_to 'Add Trip', new_trip_path %>
		</a>
    <a class="item">
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
   </a>
  </div>
</div>
